<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/fragment.html :: header"></head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg" style="margin-top: 15rem !important;">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4" th:text="#{login}">로그인</h3></div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputEmail" type="email" />
                                                <label for="inputEmail" th:text="#{id}">Email address</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputPassword" type="password" />
                                                <label for="inputPassword" th:text="#{password}">Password</label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                                <label class="form-check-label" for="inputRememberPassword" th:text="#{remember_password}">Remember Password</label>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="password.html" th:text="#{password_search}">Forgot Password?</a>
                                                <a class="btn btn-primary" href="index.html" th:text="#{login}">Login</a>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a th:href="@{/register}" th:text="#{register}">Need an account? Sign up!</a></div>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <select class="form-select-sm" id="language">
                                            <option value="" th:text="#{language}"></option>
                                            <option value="ko" th:text="#{korea}"></option>
                                            <option value="en" th:text="#{english}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <script th:replace="/fragments/fragment.html :: LangChangeEvent"></script>
    </body>
</html>
