<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/fragment.html :: header"/>
    <style>
        .select {
            padding: 15px 10px;
        }
        .select input[type=radio]{
            display: none;
        }
        .select input[type=radio]+label{
            display: inline-block;
            cursor: pointer;
            height: 24px;
            width: 90px;
            border: 1px solid #333;
            line-height: 24px;
            text-align: center;
            font-weight:bold;
            font-size:13px;
        }
        .select input[type=radio]+label{
            background-color: #fff;
            color: #333;
        }
        .select input[type=radio]:checked+label{
            background-color: #333;
            color: #fff;
        }
    </style>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5" style="margin-top: 10rem !important;">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4" th:text="#{register}"></h3></div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputFirstName" type="text" />
                                                <label for="inputFirstName" th:text="#{name}"></label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputId" type="id" />
                                                <label for="inputId" th:text="#{id}"></label>
                                                <button class="btn btn-secondary btn-block" href="#" th:text="#{duplicate_confirmation}"
                                                        id="duplicatedCheck"
                                                    style="position: absolute;
                                                           top: 10px;
                                                           right: 10px;">
                                                </button>
                                            </div>
<!--                                            <div class="form-floating mb-3">-->
<!--                                                <div class="d-grid">-->
<!--                                                    <a class="btn btn-secondary btn-block" href="login.html" th:text="#{duplicate_confirmation}">duplicated id</a>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputEmail" type="email" />
                                                <label for="inputEmail" th:text="#{email}"></label>
                                                <button class="btn btn-secondary btn-block" href="#" th:text="#{certified_email}"
                                                        id="certEmail"
                                                        style="position: absolute;
                                                           top: 10px;
                                                           right: 10px;">
                                                </button>
                                            </div>
                                            <div class="form-floating mb-3" style="display: none">
                                                <input class="form-control" id="certCode" type="text" />
                                                <label for="certCode" th:text="#{cert_code}"></label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputPassword" type="password" />
                                                        <label for="inputPassword" th:text="#{password}">Password</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="inputPasswordConfirm" type="password" />
                                                        <label for="inputPasswordConfirm" th:text="#{password_check}">Confirm Password</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="select">
                                                <input type="radio" id="male" name="sex" /><label for="male" th:text="#{male}"></label>
                                                <input type="radio" id="female" name="sex" /><label for="female" th:text="#{female}"></label>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><a class="btn btn-primary btn-block" href="login.html" th:text="#{register}">Create Account</a></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="login.html" th:text="#{have_an_account}">Have an account? Go to login</a></div>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <select class="form-select-sm" id="language">
                                            <option value="" th:text="#{language}"></option>
                                            <option value="ko" th:text="#{korea}"></option>
                                            <option value="en" th:text="#{english}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script th:replace="/fragments/fragment.html :: LangChangeEvent"></script>
    </body>
</html>
